<ion-header>
  <ion-toolbar>
    <ion-title>{{title}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="black-circle"></div>
  <form [formGroup]="form">
    <div class="title">
      <ion-card-title>{{isLogin ? 'Sign in' : 'Sign up' }}</ion-card-title>
    </div>
    <div>
      <ion-item *ngIf="!isLogin">
        <ion-icon name="person-outline" item-right></ion-icon>
        <ion-label>First Name</ion-label>
        <ion-input
          class="form-elements"
          formControlName="firstName"
          clear-input
        >
        </ion-input>
      </ion-item>
      <ion-item *ngIf="!isLogin">
        <ion-icon name="person-outline" item-right></ion-icon>
        <ion-label>Last Name</ion-label>
        <ion-input class="form-elements" formControlName="lastName" clear-input>
        </ion-input>
        <div
          *ngIf="form.get('lastName').invalid && 
        form.get('lastName').errors && 
        (form.get('lastName').dirty || form.get('lastName').touched)"
        >
          <small *ngIf="form.get('lastName').hasError('required')">
            This field is required.
          </small>
          <small *ngIf="form.get('lastName').hasError('minlength')">
            The minimum length for this field is
            {{form.get('lastName').errors.minlength.requiredLength}} characters.
          </small>
        </div>
      </ion-item>
      <ion-item>
        <ion-icon name="mail-outline" item-right></ion-icon>
        <ion-label>E-mail</ion-label>
        <ion-input
          type="email"
          class="form-elements"
          formControlName="email"
          clear-input
        >
        </ion-input>
      </ion-item>
      <ion-item *ngIf="!isLogin">
        <ion-label>Country</ion-label>
        <ion-select formControlName="country" interface="popover" clear-input>
          <ion-select-option value="AF">Afghanistan</ion-select-option>
          <ion-select-option value="AX">Åland Islands</ion-select-option>
          <ion-select-option value="AL">Albania</ion-select-option>
          <ion-select-option value="DZ">Algeria</ion-select-option>
          <ion-select-option value="AS">American Samoa</ion-select-option>
          <ion-select-option value="AD">Andorra</ion-select-option>
          <ion-select-option value="AO">Angola</ion-select-option>
          <ion-select-option value="AI">Anguilla</ion-select-option>
          <ion-select-option value="AQ">Antarctica</ion-select-option>
          <ion-select-option value="AG">Antigua and Barbuda</ion-select-option>
          <ion-select-option value="AR">Argentina</ion-select-option>
          <ion-select-option value="AM">Armenia</ion-select-option>
          <ion-select-option value="AW">Aruba</ion-select-option>
          <ion-select-option value="AU">Australia</ion-select-option>
          <ion-select-option value="AT">Austria</ion-select-option>
          <ion-select-option value="AZ">Azerbaijan</ion-select-option>
          <ion-select-option value="BS">Bahamas</ion-select-option>
          <ion-select-option value="BH">Bahrain</ion-select-option>
          <ion-select-option value="BD">Bangladesh</ion-select-option>
          <ion-select-option value="BB">Barbados</ion-select-option>
          <ion-select-option value="BY">Belarus</ion-select-option>
          <ion-select-option value="BE">Belgium</ion-select-option>
          <ion-select-option value="BZ">Belize</ion-select-option>
          <ion-select-option value="BJ">Benin</ion-select-option>
          <ion-select-option value="BM">Bermuda</ion-select-option>
          <ion-select-option value="BT">Bhutan</ion-select-option>
          <ion-select-option value="BO"
            >Bolivia, Plurinational State of</ion-select-option
          >
          <ion-select-option value="BQ"
            >Bonaire, Sint Eustatius and Saba</ion-select-option
          >
          <ion-select-option value="BA"
            >Bosnia and Herzegovina</ion-select-option
          >
          <ion-select-option value="BW">Botswana</ion-select-option>
          <ion-select-option value="BV">Bouvet Island</ion-select-option>
          <ion-select-option value="BR">Brazil</ion-select-option>
          <ion-select-option value="IO"
            >British Indian Ocean Territory</ion-select-option
          >
          <ion-select-option value="BN">Brunei Darussalam</ion-select-option>
          <ion-select-option value="BG">Bulgaria</ion-select-option>
          <ion-select-option value="BF">Burkina Faso</ion-select-option>
          <ion-select-option value="BI">Burundi</ion-select-option>
          <ion-select-option value="KH">Cambodia</ion-select-option>
          <ion-select-option value="CM">Cameroon</ion-select-option>
          <ion-select-option value="CA">Canada</ion-select-option>
          <ion-select-option value="CV">Cape Verde</ion-select-option>
          <ion-select-option value="KY">Cayman Islands</ion-select-option>
          <ion-select-option value="CF"
            >Central African Republic</ion-select-option
          >
          <ion-select-option value="TD">Chad</ion-select-option>
          <ion-select-option value="CL">Chile</ion-select-option>
          <ion-select-option value="CN">China</ion-select-option>
          <ion-select-option value="CX">Christmas Island</ion-select-option>
          <ion-select-option value="CC"
            >Cocos (Keeling) Islands</ion-select-option
          >
          <ion-select-option value="CO">Colombia</ion-select-option>
          <ion-select-option value="KM">Comoros</ion-select-option>
          <ion-select-option value="CG">Congo</ion-select-option>
          <ion-select-option value="CD"
            >Congo, the Democratic Republic of the</ion-select-option
          >
          <ion-select-option value="CK">Cook Islands</ion-select-option>
          <ion-select-option value="CR">Costa Rica</ion-select-option>
          <ion-select-option value="CI">Côte d'Ivoire</ion-select-option>
          <ion-select-option value="HR">Croatia</ion-select-option>
          <ion-select-option value="CU">Cuba</ion-select-option>
          <ion-select-option value="CW">Curaçao</ion-select-option>
          <ion-select-option value="CY">Cyprus</ion-select-option>
          <ion-select-option value="CZ">Czech Republic</ion-select-option>
          <ion-select-option value="DK">Denmark</ion-select-option>
          <ion-select-option value="DJ">Djibouti</ion-select-option>
          <ion-select-option value="DM">Dominica</ion-select-option>
          <ion-select-option value="DO">Dominican Republic</ion-select-option>
          <ion-select-option value="EC">Ecuador</ion-select-option>
          <ion-select-option value="EG">Egypt</ion-select-option>
          <ion-select-option value="SV">El Salvador</ion-select-option>
          <ion-select-option value="GQ">Equatorial Guinea</ion-select-option>
          <ion-select-option value="ER">Eritrea</ion-select-option>
          <ion-select-option value="EE">Estonia</ion-select-option>
          <ion-select-option value="ET">Ethiopia</ion-select-option>
          <ion-select-option value="FK"
            >Falkland Islands (Malvinas)</ion-select-option
          >
          <ion-select-option value="FO">Faroe Islands</ion-select-option>
          <ion-select-option value="FJ">Fiji</ion-select-option>
          <ion-select-option value="FI">Finland</ion-select-option>
          <ion-select-option value="FR">France</ion-select-option>
          <ion-select-option value="GF">French Guiana</ion-select-option>
          <ion-select-option value="PF">French Polynesia</ion-select-option>
          <ion-select-option value="TF"
            >French Southern Territories</ion-select-option
          >
          <ion-select-option value="GA">Gabon</ion-select-option>
          <ion-select-option value="GM">Gambia</ion-select-option>
          <ion-select-option value="GE">Georgia</ion-select-option>
          <ion-select-option value="DE">Germany</ion-select-option>
          <ion-select-option value="GH">Ghana</ion-select-option>
          <ion-select-option value="GI">Gibraltar</ion-select-option>
          <ion-select-option value="GR">Greece</ion-select-option>
          <ion-select-option value="GL">Greenland</ion-select-option>
          <ion-select-option value="GD">Grenada</ion-select-option>
          <ion-select-option value="GP">Guadeloupe</ion-select-option>
          <ion-select-option value="GU">Guam</ion-select-option>
          <ion-select-option value="GT">Guatemala</ion-select-option>
          <ion-select-option value="GG">Guernsey</ion-select-option>
          <ion-select-option value="GN">Guinea</ion-select-option>
          <ion-select-option value="GW">Guinea-Bissau</ion-select-option>
          <ion-select-option value="GY">Guyana</ion-select-option>
          <ion-select-option value="HT">Haiti</ion-select-option>
          <ion-select-option value="HM"
            >Heard Island and McDonald Islands</ion-select-option
          >
          <ion-select-option value="VA"
            >Holy See (Vatican City State)</ion-select-option
          >
          <ion-select-option value="HN">Honduras</ion-select-option>
          <ion-select-option value="HK">Hong Kong</ion-select-option>
          <ion-select-option value="HU">Hungary</ion-select-option>
          <ion-select-option value="IS">Iceland</ion-select-option>
          <ion-select-option value="IN" selected>India</ion-select-option>
          <ion-select-option value="ID">Indonesia</ion-select-option>
          <ion-select-option value="IR"
            >Iran, Islamic Republic of</ion-select-option
          >
          <ion-select-option value="IQ">Iraq</ion-select-option>
          <ion-select-option value="IE">Ireland</ion-select-option>
          <ion-select-option value="IM">Isle of Man</ion-select-option>
          <ion-select-option value="IL">Israel</ion-select-option>
          <ion-select-option value="IT">Italy</ion-select-option>
          <ion-select-option value="JM">Jamaica</ion-select-option>
          <ion-select-option value="JP">Japan</ion-select-option>
          <ion-select-option value="JE">Jersey</ion-select-option>
          <ion-select-option value="JO">Jordan</ion-select-option>
          <ion-select-option value="KZ">Kazakhstan</ion-select-option>
          <ion-select-option value="KE">Kenya</ion-select-option>
          <ion-select-option value="KI">Kiribati</ion-select-option>
          <ion-select-option value="KP"
            >Korea, Democratic People's Republic of</ion-select-option
          >
          <ion-select-option value="KR">Korea, Republic of</ion-select-option>
          <ion-select-option value="KW">Kuwait</ion-select-option>
          <ion-select-option value="KG">Kyrgyzstan</ion-select-option>
          <ion-select-option value="LA"
            >Lao People's Democratic Republic</ion-select-option
          >
          <ion-select-option value="LV">Latvia</ion-select-option>
          <ion-select-option value="LB">Lebanon</ion-select-option>
          <ion-select-option value="LS">Lesotho</ion-select-option>
          <ion-select-option value="LR">Liberia</ion-select-option>
          <ion-select-option value="LY">Libya</ion-select-option>
          <ion-select-option value="LI">Liechtenstein</ion-select-option>
          <ion-select-option value="LT">Lithuania</ion-select-option>
          <ion-select-option value="LU">Luxembourg</ion-select-option>
          <ion-select-option value="MO">Macao</ion-select-option>
          <ion-select-option value="MK"
            >Macedonia, the former Yugoslav Republic of</ion-select-option
          >
          <ion-select-option value="MG">Madagascar</ion-select-option>
          <ion-select-option value="MW">Malawi</ion-select-option>
          <ion-select-option value="MY">Malaysia</ion-select-option>
          <ion-select-option value="MV">Maldives</ion-select-option>
          <ion-select-option value="ML">Mali</ion-select-option>
          <ion-select-option value="MT">Malta</ion-select-option>
          <ion-select-option value="MH">Marshall Islands</ion-select-option>
          <ion-select-option value="MQ">Martinique</ion-select-option>
          <ion-select-option value="MR">Mauritania</ion-select-option>
          <ion-select-option value="MU">Mauritius</ion-select-option>
          <ion-select-option value="YT">Mayotte</ion-select-option>
          <ion-select-option value="MX">Mexico</ion-select-option>
          <ion-select-option value="FM"
            >Micronesia, Federated States of</ion-select-option
          >
          <ion-select-option value="MD">Moldova, Republic of</ion-select-option>
          <ion-select-option value="MC">Monaco</ion-select-option>
          <ion-select-option value="MN">Mongolia</ion-select-option>
          <ion-select-option value="ME">Montenegro</ion-select-option>
          <ion-select-option value="MS">Montserrat</ion-select-option>
          <ion-select-option value="MA">Morocco</ion-select-option>
          <ion-select-option value="MZ">Mozambique</ion-select-option>
          <ion-select-option value="MM">Myanmar</ion-select-option>
          <ion-select-option value="NA">Namibia</ion-select-option>
          <ion-select-option value="NR">Nauru</ion-select-option>
          <ion-select-option value="NP">Nepal</ion-select-option>
          <ion-select-option value="NL">Netherlands</ion-select-option>
          <ion-select-option value="NC">New Caledonia</ion-select-option>
          <ion-select-option value="NZ">New Zealand</ion-select-option>
          <ion-select-option value="NI">Nicaragua</ion-select-option>
          <ion-select-option value="NE">Niger</ion-select-option>
          <ion-select-option value="NG">Nigeria</ion-select-option>
          <ion-select-option value="NU">Niue</ion-select-option>
          <ion-select-option value="NF">Norfolk Island</ion-select-option>
          <ion-select-option value="MP"
            >Northern Mariana Islands</ion-select-option
          >
          <ion-select-option value="NO">Norway</ion-select-option>
          <ion-select-option value="OM">Oman</ion-select-option>
          <ion-select-option value="PK">Pakistan</ion-select-option>
          <ion-select-option value="PW">Palau</ion-select-option>
          <ion-select-option value="PS"
            >Palestinian Territory, Occupied</ion-select-option
          >
          <ion-select-option value="PA">Panama</ion-select-option>
          <ion-select-option value="PG">Papua New Guinea</ion-select-option>
          <ion-select-option value="PY">Paraguay</ion-select-option>
          <ion-select-option value="PE">Peru</ion-select-option>
          <ion-select-option value="PH">Philippines</ion-select-option>
          <ion-select-option value="PN">Pitcairn</ion-select-option>
          <ion-select-option value="PL">Poland</ion-select-option>
          <ion-select-option value="PT">Portugal</ion-select-option>
          <ion-select-option value="PR">Puerto Rico</ion-select-option>
          <ion-select-option value="QA">Qatar</ion-select-option>
          <ion-select-option value="RE">Réunion</ion-select-option>
          <ion-select-option value="RO">Romania</ion-select-option>
          <ion-select-option value="RU">Russian Federation</ion-select-option>
          <ion-select-option value="RW">Rwanda</ion-select-option>
          <ion-select-option value="BL">Saint Barthélemy</ion-select-option>
          <ion-select-option value="SH"
            >Saint Helena, Ascension and Tristan da Cunha</ion-select-option
          >
          <ion-select-option value="KN"
            >Saint Kitts and Nevis</ion-select-option
          >
          <ion-select-option value="LC">Saint Lucia</ion-select-option>
          <ion-select-option value="MF"
            >Saint Martin (French part)</ion-select-option
          >
          <ion-select-option value="PM"
            >Saint Pierre and Miquelon</ion-select-option
          >
          <ion-select-option value="VC"
            >Saint Vincent and the Grenadines</ion-select-option
          >
          <ion-select-option value="WS">Samoa</ion-select-option>
          <ion-select-option value="SM">San Marino</ion-select-option>
          <ion-select-option value="ST"
            >Sao Tome and Principe</ion-select-option
          >
          <ion-select-option value="SA">Saudi Arabia</ion-select-option>
          <ion-select-option value="SN">Senegal</ion-select-option>
          <ion-select-option value="RS">Serbia</ion-select-option>
          <ion-select-option value="SC">Seychelles</ion-select-option>
          <ion-select-option value="SL">Sierra Leone</ion-select-option>
          <ion-select-option value="SG">Singapore</ion-select-option>
          <ion-select-option value="SX"
            >Sint Maarten (Dutch part)</ion-select-option
          >
          <ion-select-option value="SK">Slovakia</ion-select-option>
          <ion-select-option value="SI">Slovenia</ion-select-option>
          <ion-select-option value="SB">Solomon Islands</ion-select-option>
          <ion-select-option value="SO">Somalia</ion-select-option>
          <ion-select-option value="ZA">South Africa</ion-select-option>
          <ion-select-option value="GS"
            >South Georgia and the South Sandwich Islands</ion-select-option
          >
          <ion-select-option value="SS">South Sudan</ion-select-option>
          <ion-select-option value="ES">Spain</ion-select-option>
          <ion-select-option value="LK">Sri Lanka</ion-select-option>
          <ion-select-option value="SD">Sudan</ion-select-option>
          <ion-select-option value="SR">Suriname</ion-select-option>
          <ion-select-option value="SJ"
            >Svalbard and Jan Mayen</ion-select-option
          >
          <ion-select-option value="SZ">Swaziland</ion-select-option>
          <ion-select-option value="SE">Sweden</ion-select-option>
          <ion-select-option value="CH">Switzerland</ion-select-option>
          <ion-select-option value="SY">Syrian Arab Republic</ion-select-option>
          <ion-select-option value="TW"
            >Taiwan, Province of China</ion-select-option
          >
          <ion-select-option value="TJ">Tajikistan</ion-select-option>
          <ion-select-option value="TZ"
            >Tanzania, United Republic of</ion-select-option
          >
          <ion-select-option value="TH">Thailand</ion-select-option>
          <ion-select-option value="TL">Timor-Leste</ion-select-option>
          <ion-select-option value="TG">Togo</ion-select-option>
          <ion-select-option value="TK">Tokelau</ion-select-option>
          <ion-select-option value="TO">Tonga</ion-select-option>
          <ion-select-option value="TT">Trinidad and Tobago</ion-select-option>
          <ion-select-option value="TN">Tunisia</ion-select-option>
          <ion-select-option value="TR">Turkey</ion-select-option>
          <ion-select-option value="TM">Turkmenistan</ion-select-option>
          <ion-select-option value="TC"
            >Turks and Caicos Islands</ion-select-option
          >
          <ion-select-option value="TV">Tuvalu</ion-select-option>
          <ion-select-option value="UG">Uganda</ion-select-option>
          <ion-select-option value="UA">Ukraine</ion-select-option>
          <ion-select-option value="AE">United Arab Emirates</ion-select-option>
          <ion-select-option value="GB">United Kingdom</ion-select-option>
          <ion-select-option value="US">United States</ion-select-option>
          <ion-select-option value="UM"
            >United States Minor Outlying Islands</ion-select-option
          >
          <ion-select-option value="UY">Uruguay</ion-select-option>
          <ion-select-option value="UZ">Uzbekistan</ion-select-option>
          <ion-select-option value="VU">Vanuatu</ion-select-option>
          <ion-select-option value="VE"
            >Venezuela, Bolivarian Republic of</ion-select-option
          >
          <ion-select-option value="VN">Viet Nam</ion-select-option>
          <ion-select-option value="VG"
            >Virgin Islands, British</ion-select-option
          >
          <ion-select-option value="VI">Virgin Islands, U.S.</ion-select-option>
          <ion-select-option value="WF">Wallis and Futuna</ion-select-option>
          <ion-select-option value="EH">Western Sahara</ion-select-option>
          <ion-select-option value="YE">Yemen</ion-select-option>
          <ion-select-option value="ZM">Zambia</ion-select-option>
          <ion-select-option value="ZW">Zimbabwe</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item *ngIf="!isLogin">
        <ion-icon name="subway-outline" item-right></ion-icon>
        <ion-label>City</ion-label>
        <ion-input class="form-elements" formControlName="city" clear-input>
        </ion-input>
      </ion-item>
      <ion-item *ngIf="!isLogin">
        <ion-icon name="subway-outline" item-right></ion-icon>
        <ion-label>Address</ion-label>
        <ion-input class="form-elements" formControlName="address" clear-input>
        </ion-input>
      </ion-item>
      <ion-item *ngIf="!isLogin">
        <ion-icon name="call-outline" item-right></ion-icon>
        <ion-label>Phone Number</ion-label>
        <ion-input
          class="form-elements"
          formControlName="phoneNumber"
          clear-input
        >
        </ion-input>
      </ion-item>
      <ion-item>
        <ion-icon name="lock-closed-outline"></ion-icon>
        <ion-label>Password</ion-label>
        <ion-input
          type="password"
          formControlName="password"
          clear-input
        ></ion-input>
      </ion-item>
      <ion-item *ngIf="!isLogin">
        <ion-icon name="lock-closed-outline"></ion-icon>
        <ion-label>Confirm Password</ion-label>
        <ion-input
          type="password"
          formControlName="confirmPassword"
          clear-input
        ></ion-input>
      </ion-item>
    </div>
    <div class="forgot-password">
      <ion-card-subtitle
        ><small
          ><a (click)="forgotPassword()">forgot password?</a></small
        ></ion-card-subtitle
      >
    </div>
    <div class="sign-in-with">
      <ion-card-subtitle>Sign in with</ion-card-subtitle>
    </div>
    <div class="facebook-icon">
      <ion-card-title
        ><ion-icon name="logo-facebook"></ion-icon
      ></ion-card-title>
    </div>
    <div class="buttons">
      <ion-button
        *ngIf="!isLogin"
        class="sign-in-button"
        shape="round"
        color="primary"
        (click)="onClickSubmit()"
        >Sign Up</ion-button
      >
      <ion-button
        *ngIf="isLogin"
        class="sign-in-button"
        shape="round"
        color="tertiary"
        slot="end"
        (click)="onClickSubmit()"
        >Sign In</ion-button
      >
    </div>
    <div>
      <ion-button (click)="toggleLogin()"
        ><small
          >{{isLogin ? 'Click here to Register' : 'Click here to Sign
          in'}}</small
        ></ion-button
      >
    </div>
  </form>
  <div class="terms-and-conditions">
    <a
      ><ion-card-subtitle
        ><small>Terms and conditions</small></ion-card-subtitle
      ></a
    >
  </div>
</ion-content>
