.black-circle {
  background: url("../../../assets/images/malamino_logo_short.jpg");
  background-size: 100%;
  margin-left: calc(50% - 50px);
  height: 100px;
  width: 100px;
  border-radius: 50%;
  margin-bottom: 2rem;
}

.title,
.sign-in-with,
.facebook-icon {
  text-align: center;
  margin-bottom: 2rem;
}
.forgot-password {
  float: right;
  margin-top: 0.6rem;
}
.sign-in-with {
  margin-top: 4rem;
}
.sign-in-button {
  float: right;
}
.terms-and-conditions {
  text-align: center;
  margin-top: 2rem;
}
ion-label {
  padding-left: 0.7rem;
  font-size: x-small;
}
ion-card-subtitle,
ion-card-title,
a {
  color: aliceblue;
  cursor: pointer;
}

ion-item {
  margin-bottom: 10px;
}

.malamino-logo {
  width: 6rem;
}
