<ion-header>
  <ion-toolbar>
    <ion-title>auth</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="black-circle"></div>
  <div class="title"><ion-card-title>Sign In</ion-card-title></div>
  <div>
    <ion-item>
      <ion-icon name="mail-outline" item-right></ion-icon>
      <ion-label>E-mail</ion-label>
      <ion-input class="form-elements"> </ion-input>
    </ion-item>
    <ion-item>
      <ion-icon name="lock-closed-outline"></ion-icon>
      <ion-label>Password</ion-label>
      <ion-input></ion-input>
    </ion-item>
  </div>
  <div class="forgot-password">
    <ion-card-subtitle><small>forgot password?</small></ion-card-subtitle>
  </div>
  <div class="sign-in-with">
    <ion-card-subtitle>Sign in with</ion-card-subtitle>
  </div>
  <div class="facebook-icon">
    <ion-card-title><ion-icon name="logo-facebook"></ion-icon></ion-card-title>
  </div>
  <div class="buttons">
    <ion-button shape="round" fill="outline" color="dark">Sign Up</ion-button>
    <ion-button class="sign-in-button" shape="round" color="dark" slot="end"
      >Sign In</ion-button
    >
  </div>
  <div class="terms-and-conditions">
    <a
      ><ion-card-subtitle
        ><small>Terms and conditions</small></ion-card-subtitle
      ></a
    >
  </div>
</ion-content>
