<ion-card (click)="viewDetail(item.id)">
  <img src="{{ imagePath.url }}" />
  <ion-card-header>
    <ion-card-subtitle>{{ item.category }}</ion-card-subtitle>
    <ion-item-divider>
      <ion-card-subtitle slot="start" color="success"
        >£{{ item.price }}</ion-card-subtitle
      >
      <span slot="end"
        ><i><small>Seller: nelsob44</small></i></span
      >
    </ion-item-divider>
    <ion-card-title>{{ item.title | truncateWords }}</ion-card-title>
  </ion-card-header>
  <ion-card-content>{{ item.description | truncateWords }}</ion-card-content>
</ion-card>
