<ion-card (click)="viewDetail(item.id)">
  <img [src]="item.images" />
  <ion-card-header>
    <ion-card-subtitle>{{ item.category }}</ion-card-subtitle>
    <ion-item-divider>
      <ion-card-subtitle slot="start" color="success"
        >£{{ item.price }}</ion-card-subtitle
      >
      <span slot="end"
        ><i><small>Seller: nelsob44</small></i></span
      >
    </ion-item-divider>
    <ion-card-title>{{ item.title | truncateWords: 45:true }}</ion-card-title>
  </ion-card-header>
  <ion-card-content>{{
    item.description | truncateWords: 90:true
  }}</ion-card-content>
</ion-card>
