<ion-card class="small-screen">
  <ion-row>
    <ion-col size="4">
      <ion-row>
        <ion-label>
          <ion-avatar slot="start" (click)="viewDetail(item.id)">
            <img class="effect1" src="{{ imagePath.url }}" />
          </ion-avatar>
        </ion-label>
      </ion-row>

      <ion-row>
        <small (click)="viewDetail(item.id)" class="clickable bottom">
          {{ item.description | truncateWords }}
        </small>
      </ion-row>
    </ion-col>
    <ion-col size="8">
      <ion-row>
        <ion-card-subtitle (click)="viewDetail(item.id)" class="clickable">
          <b>{{ item.title }}</b>
        </ion-card-subtitle>
      </ion-row>
      <ion-row class="item-margins">
        <ion-text class="clickable">Category: {{ item.category }}</ion-text>
      </ion-row>
      <ion-row class="item-margins">
        <ion-card-subtitle color="success"
          >{{ item.price }} Naira</ion-card-subtitle
        >
      </ion-row>
      <ion-row class="item-margins">
        <span
          ><i
            ><small class="seller"
              >Seller ID: {{ item.sellerId || item.sellerEmail }}</small
            ></i
          ></span
        >
      </ion-row>
      <ion-row>
        <ion-badge color="danger" *ngIf="item.availableQuantity < 10"
          ><small>Low stock!</small></ion-badge
        >
      </ion-row>
      <ion-row>
        <ion-col size="12"></ion-col>
        <ion-col size="12" *ngIf="isAdmin">
          <ion-button
            aria-label="Edit product"
            (click)="presentAlertConfirm(item.id, 'edit')"
            ><ion-icon name="create-outline"></ion-icon>
          </ion-button>
          <ion-button
            aria-label="Delete product"
            color="danger"
            (click)="presentAlertConfirm(item.id, 'delete')"
            ><ion-icon name="trash-outline"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-col>
  </ion-row>
</ion-card>

<ion-card class="large-screen">
  <ion-row>
    <img
      class="effect1"
      src="{{ imagePath.url }}"
      (click)="viewDetail(item.id)"
    />
  </ion-row>
  <ion-row *ngIf="isAdmin" class="spacing">
    <ion-button
      aria-label="Edit product"
      (click)="presentAlertConfirm(item.id, 'edit')"
      ><ion-icon name="create-outline"></ion-icon>
    </ion-button>
    <ion-button
      aria-label="Delete product"
      color="danger"
      (click)="presentAlertConfirm(item.id, 'delete')"
      ><ion-icon name="trash-outline"></ion-icon>
    </ion-button>
  </ion-row>
  <ion-row class="edit-bottom">
    <ion-card-subtitle class="clickable"
      >Category: {{ item.category }}</ion-card-subtitle
    >
  </ion-row>
  <ion-row class="spacing">
    <ion-card-title (click)="viewDetail(item.id)" class="clickable">{{
      item.title | truncateWords
    }}</ion-card-title>
  </ion-row>
  <ion-row class="spacing">
    <ion-card-title aria-label="Price" color="success"
      >{{ item.price }} Naira</ion-card-title
    >
  </ion-row>
  <ion-row class="spacing">
    <ion-col size="10">
      <ion-card-subtitle>Available in stock: </ion-card-subtitle>
    </ion-col>

    <ion-col size="2">
      <ion-card-subtitle
        color="{{ item.availableQuantity < 10 ? 'danger' : 'success' }}"
        class="badge"
        >{{ item.availableQuantity }}</ion-card-subtitle
      >
    </ion-col>
  </ion-row>
  <ion-row class="item-margins spacing">
    <span
      ><i
        ><small class="seller"
          >Seller ID: {{ item.sellerId || item.sellerEmail }}</small
        ></i
      ></span
    >
  </ion-row>
  <ion-row *ngIf="item.availableQuantity < 10" class="badge-spacing">
    <ion-badge aria-label="Low stock" color="danger"
      ><small>Low stock!</small>
    </ion-badge>
  </ion-row>

  <ion-row class="spacing">
    <ion-card-subtitle (click)="viewDetail(item.id)" class="clickable"
      >{{ item.description | truncateWords }}
      <small *ngIf="item.description.length > 50"
        ><a>see more</a></small
      ></ion-card-subtitle
    >
  </ion-row>
</ion-card>
