ion-content {
  --background: linear-gradient(
    180deg,
    rgb(236, 236, 245) 0%,
    rgb(241, 244, 248) 100%
  );
}

a {
  cursor: pointer;
}

@media (max-width: 600px) {
  ion-text {
    font: 0.8em "Nunito";
  }
}
