<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
    <ion-title>Products Listing</ion-title>
    <ion-title slot="end"
      ><app-shopping-cart-badge
        [numberOfItems]="basketLength"
        (openCartModal)="onCartModalOpen($event)"
      ></app-shopping-cart-badge
    ></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col
        size="12"
        size-md="6"
        size-lg="3"
        *ngFor="let item of loadedProducts"
      >
        <ion-item-sliding>
          <app-product-item [item]="item"></app-product-item>
        </ion-item-sliding>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="9">
        <ion-chip button="true" (click)="prevPage()" *ngIf="hasPrevPage">
          <ion-label>Prev</ion-label>
        </ion-chip>
      </ion-col>
      <ion-col size="3">
        <ion-chip class="buttonRight" (click)="nextPage()" *ngIf="hasNextPage">
          <ion-label>Next</ion-label>
        </ion-chip>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
