.sign-in-button {
  float: right;
}
ion-label {
  padding-left: 0.7rem;
  font-size: x-small;
}
ion-card-subtitle,
ion-card-title,
a {
  color: aliceblue;
}

ion-item {
  border-radius: 10px;
  margin-bottom: 10px;
}
