<ion-list>
  <ion-item lines="full" button (click)="menuClick('dashboard')">
    <ion-icon
      name="apps-outline"
      style="color: rgba(9, 9, 121, 1)"
      slot="start"
    ></ion-icon>
    <ion-label
      ><ion-card-subtitle style="color: rgba(9, 9, 121, 1); font-size: 0.8em"
        >Dashboard</ion-card-subtitle
      ></ion-label
    >
  </ion-item>
  <ion-item
    *ngIf="isLoggedIn"
    lines="full"
    button
    (click)="menuClick('photos')"
  >
    <ion-icon
      name="image-outline"
      style="color: rgba(9, 9, 121, 1)"
      slot="start"
    ></ion-icon>
    <ion-label
      ><ion-card-subtitle style="color: rgba(9, 9, 121, 1); font-size: 0.8em"
        >Charts</ion-card-subtitle
      ></ion-label
    >
  </ion-item>
  <ion-item lines="full" button (click)="menuClick('available-products')">
    <ion-icon
      name="briefcase-outline"
      style="color: rgba(9, 9, 121, 1)"
      slot="start"
    ></ion-icon>
    <ion-label
      ><ion-card-subtitle style="color: rgba(9, 9, 121, 1); font-size: 0.8em"
        >Available Products</ion-card-subtitle
      ></ion-label
    >
  </ion-item>
  <ion-item
    *ngIf="isLoggedIn"
    lines="full"
    button
    (click)="menuClick('my-products')"
  >
    <ion-icon
      name="bicycle-outline"
      style="color: rgba(9, 9, 121, 1)"
      slot="start"
    ></ion-icon>
    <ion-label
      ><ion-card-subtitle style="color: rgba(9, 9, 121, 1); font-size: 0.8em"
        >My Products</ion-card-subtitle
      ></ion-label
    >
  </ion-item>
  <ion-item
    *ngIf="isLoggedIn"
    lines="full"
    button
    (click)="menuClick('add-product')"
  >
    <ion-icon
      name="bag-add-outline"
      style="color: rgba(9, 9, 121, 1)"
      slot="start"
    ></ion-icon>
    <ion-label
      ><ion-card-subtitle style="color: rgba(9, 9, 121, 1); font-size: 0.8em"
        >Add Product</ion-card-subtitle
      ></ion-label
    >
  </ion-item>
  <ion-item
    *ngIf="isLoggedIn"
    lines="none"
    button
    (click)="menuClick('user-profile')"
  >
    <ion-icon
      name="person-circle-outline"
      style="color: rgba(9, 9, 121, 1)"
      slot="start"
    ></ion-icon>
    <ion-label
      ><ion-card-subtitle style="color: rgba(9, 9, 121, 1); font-size: 0.8em"
        >My Pofile</ion-card-subtitle
      ></ion-label
    >
  </ion-item>
  <!-- <ion-item lines="full" button (click)="menuClick('auth')">
    <ion-icon
      name="{{ isLoggedIn ? 'log-out-outline' : 'log-in-outline' }}"
      slot="start"
    ></ion-icon>
    <ion-label>{{ isLoggedIn ? "Log Out" : "Sign in" }}</ion-label>
  </ion-item> -->
</ion-list>
