ion-avatar {
  --border-radius: 5px;
  // max-height: 100px;
  // max-width: 100px;
  // height: 5rem;
  width: 5rem;
}

ion-card {
  padding: 0.5rem;
  img {
    //object-fit: cover;
    cursor: pointer;
  }
  .clickable {
    cursor: pointer;
  }
}

ion-card-title {
  font: 1em Nunito, Arial, Helvetica, sans-serif;
}

.seller {
  font-size: 0.8rem;
}
ion-badge {
  max-height: 20px;
}
.effect1 {
  -webkit-box-shadow: 0 10px 6px -6px #777;
  -moz-box-shadow: 0 10px 6px -6px #777;
  box-shadow: 0 10px 6px -6px #777;
}

.bottom {
  margin-top: 2rem;
}
.edit-bottom {
  margin-top: 0.8rem;
}
.item-margins {
  margin-top: 0.2rem;
}

.spacing {
  margin-top: 0.3rem;
}
.badge-spacing {
  margin-top: -0.5rem;
}

@media (max-width: 600px) {
  .small-screen {
    display: block;
  }
  .large-screen {
    display: none;
  }

  ion-text,
  ion-card-subtitle {
    font-size: 0.8rem;
  }
  ion-labell {
    line-height: 0.1rem;
  }
}

@media (min-width: 601px) {
  .large-screen {
    display: block;
    img {
      object-fit: fill;
      height: 10rem;
    }
  }
  .small-screen {
    display: none;
  }
  ion-card {
    height: 26rem;
    img {
      width: inherit;
      object-fit: contain;
    }
    overflow-y: auto;
  }

  ion-badge {
    margin-top: 0.5rem;
  }
}
