ion-avatar {
  --border-radius: 5px;
  max-height: 100px;
  max-width: 100px;
  height: 5rem;
  width: 5rem;
}

ion-card {
  padding: 0 0.5rem 0 0.5rem;
  img {
    object-fit: cover;
    cursor: pointer;
  }
  .clickable {
    cursor: pointer;
  }
}

.seller {
  font-size: 0.8rem;
}
ion-badge {
  max-height: 20px;
}

@media (max-width: 600px) {
  .small-screen {
    display: block;
  }
  .large-screen {
    display: none;
  }

  ion-text,
  ion-card-subtitle {
    font-size: 0.8rem;
  }
  ion-labell {
    line-height: 0.1rem;
  }
}

@media (min-width: 601px) {
  .large-screen {
    display: block;
    img {
      object-fit: fill;
      height: 150px;
    }
  }
  .small-screen {
    display: none;
  }
  ion-card {
    height: 25rem;
    img {
      width: inherit;
      object-fit: contain;
    }
    overflow-y: auto;
  }

  ion-badge {
    margin-top: 0.5rem;
  }
}
