<ion-card class="small-screen">
  <ion-item>
    <ion-avatar slot="start" (click)="viewDetail(item.id)">
      <img src="{{ imagePath.url }}" />
    </ion-avatar>
    <ion-label>
      <ion-row>
        <ion-col
          ><ion-card-subtitle (click)="viewDetail(item.id)" class="clickable">
            <b>{{ item.title | truncateWords }}</b>
          </ion-card-subtitle></ion-col
        >
        <ion-col
          ><span
            ><i
              ><small class="seller">Seller: {{ item.sellerEmail }}</small></i
            ></span
          ></ion-col
        >
      </ion-row>
      <ion-row>
        <ion-col size="12"
          ><ion-text class="clickable"
            >Category: {{ item.category }}</ion-text
          ></ion-col
        >
        <ion-col size="12">
          <ion-button
            aria-label="Edit product"
            (click)="presentAlertConfirm(item.id, 'edit')"
            ><ion-icon name="create-outline"></ion-icon>
          </ion-button>
          <ion-button
            aria-label="Delete product"
            color="danger"
            (click)="presentAlertConfirm(item.id, 'delete')"
            ><ion-icon name="trash-outline"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col
          ><ion-card-subtitle color="success"
            >£{{ item.price }}</ion-card-subtitle
          ></ion-col
        >
        <ion-badge color="danger" *ngIf="item.availableQuantity < 10"
          ><small>Low stock!</small></ion-badge
        >
      </ion-row>
      <ion-row>
        <ion-col
          ><small (click)="viewDetail(item.id)" class="clickable">
            {{ item.description | truncateWords }}
          </small></ion-col
        >
      </ion-row>
    </ion-label>
  </ion-item>
</ion-card>

<ion-card class="large-screen">
  <ion-row>
    <img src="{{ imagePath.url }}" (click)="viewDetail(item.id)" />
  </ion-row>
  <ion-row>
    <ion-col
      ><ion-card-subtitle class="clickable">{{
        item.category
      }}</ion-card-subtitle></ion-col
    >
    <ion-button
      aria-label="Edit product"
      (click)="presentAlertConfirm(item.id, 'edit')"
      ><ion-icon name="create-outline"></ion-icon>
    </ion-button>
    <ion-button
      aria-label="Delete product"
      color="danger"
      (click)="presentAlertConfirm(item.id, 'delete')"
      ><ion-icon name="trash-outline"></ion-icon>
    </ion-button>
  </ion-row>
  <ion-row>
    <ion-col
      ><ion-card-title (click)="viewDetail(item.id)" class="clickable">{{
        item.title | truncateWords
      }}</ion-card-title></ion-col
    >
    <ion-badge aria-label="Price" color="success">£{{ item.price }} </ion-badge>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-card-subtitle
        >Available in stock:
        <ion-badge
          color="{{ item.availableQuantity < 10 ? 'danger' : 'success' }}"
          class="badge"
          >{{ item.availableQuantity }}</ion-badge
        ></ion-card-subtitle
      >
    </ion-col>

    <ion-badge
      aria-label="Low stock"
      color="danger"
      *ngIf="item.availableQuantity < 10"
      ><small>Low stock!</small>
    </ion-badge>
  </ion-row>

  <ion-row>
    <ion-col>
      <ion-card-subtitle (click)="viewDetail(item.id)" class="clickable"
        >{{ item.description | truncateWords }}
        <small *ngIf="item.description.length > 50"
          ><a>see more</a></small
        ></ion-card-subtitle
      >
    </ion-col>
  </ion-row>
</ion-card>
