ion-label {
  padding-left: 0.7rem;
  font-size: x-small;
}
ion-item {
  border-radius: 10px;
  margin-bottom: 10px;
}
ion-card-subtitle,
ion-card-title {
  color: aliceblue;
}

// ion-content {
//   --background: #f2f2f7;
// }

ion-datetime {
  height: auto;
  width: auto;

  max-width: 350px;
}
